.slider {
    min-width: 125px;
    margin: 5px 15px;
}

.slider-text {
    margin-top: 5px;
    text-align: center;
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.84);
}

/*#curve-slider-container, #bundling-slider-container {*/
/*display: none;*/
/*}*/

#rule-right {
    float: right;
    width: 30%;
    padding-right: 10px;
}

.btn-sm {
    width: 28px;
    height: 28px;
    padding: 5px 2px 0px 2px;
    margin-top: 0;
}

#cep_rule_panel {
    padding-top: 10px;
}

/*#rule-table {*/
/*clear: both;*/
/*}*/

.slick-row:hover {
    font-weight: bold;
    color: #069;
}

#btn-clear, #btn-undo {
    display: none;
}

#parcoords-main {
    height: 550px;
}

#granularity-select, #anomaly-granularity, #anomaly-description {
    min-height: 28px;
}

#anomaly-description {
    padding-top: 10px;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: grey;
}

.loading-model {
    display: none;
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 10011;
    overflow: auto;
    background-color: #ffffff;
    padding: 20px;

    border-radius: 12px;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 4px 0px #ffffff;
    box-shadow: 0px 0px 4px 0px #ffffff;
}

.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
    z-index: 10001;
    display: none;

}

.dl-horizontal dt {
    white-space: normal;
}

.text-center {
    font-weight: bold;
}

.dl-horizontal dd {
    white-space: normal;
}

#nav-back-button {
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-right: 5px;
    margin-left: 5px;
}