.slider {
    min-width: 150px;
    margin: 5px 15px;
}

.slider-text {
    margin-top: 5px;
    text-align: center;
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.84);
}

#curve-slider-container, #bundling-slider-container {
    display: none;
}

#rule-right {
    float: right;
    width: 30%;
    padding-right: 10px;
}

#rule-right-table-head {
    background-color: #2C3E50;
    /*-webkit-box-shadow: 0px 5px 40px 0px #000;*/
    /*box-shadow: 0px 5px 40px 0px #000;*/
    min-height: 28px;
}

.slick-row:hover {
    font-weight: bold;
    color: #069;
}

#btn-clear, #btn-undo {
    display: none;
}

#parcoords-main {
    height: 550px;
}

#granularity-select{
    min-height: 28px;
}