body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
}

#main {
    float: left;
    margin-top:  50px;
}
#rulegenerator {
    float: left;
    margin-top:   70px;
    display: none;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    height: 30px;
    position: fixed;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    float: left;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 400px;
    left: 275px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: 250;
    transform: None;
    margin-left:auto ;
}

#percentage {
    font-size: 2.5em;
}
#chart2 {
    float: left;
}

#chart2 path {
    stroke: #fff;
}

#explanation2 {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: 250;
    transform: None;
}

#percentage2 {
    font-size: 2.5em;
}
#percentage-slider{
    min-width: 300px;
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}