body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
}
#sidebar {
    float: right;
    width: 100px;
}

#legend {
    padding: 10px 0 0 3px;
}

#percentage-slider{
    min-width: 300px;
}

/* breadcrumb trail*/

#sequence {
    height: 30px;
    position: fixed;
}

/* main svg visualization*/
#main {
    float: left;
    margin-top:  50px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    float: left;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 400px;
    left: 275px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: 250;
    transform: None;
    margin-left:auto ;
}

#percentage {
    font-size: 2.5em;
}

/* second svg visualization */
#chart2 {
    float: left;
}

#chart2 path {
    stroke: #fff;
}

/* rule generation panel*/

#rulegenerator {
    float: left;
    margin-top:   70px;
    display: none;
    width: 50%;
}

#rulepanel{
    height: 700px;

}
#element-input{
    padding: 15px 15px 15px 15px;
}

#ruleconfirm{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px
}

.panel-heading {
    min-height: 20px;
}
#close {
    float:right;
    display:inline-block;
    background:inherit;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}