{% extends 'vivarana/base.html' %}
{% load staticfiles %}
{% block title %}Clustering Data{% endblock %}

{% block body_block %}

    <style>
        .container-clustering {
            width: 980px;
            min-width: 980px;
            margin: 0 auto;
            padding: 0 50px;
        }

        #warning {
            display: none;
        }

        table {
            width: 916px !important; /* 140px * 5 column + 16px scrollbar width */
            border-spacing: 0;
        }

        tbody, thead tr {
            display: block;
        }

        tbody {
            height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody td, thead th {
            width: 300px;
        }

        thead th:last-child {
            width: 316px; /* 140px + 16px scrollbar width */
        }

        .loading-model {
            display: none;
            width: 300px;
            height: 200px;
            position: fixed;
            top: 50%;
            left: 50%;
            text-align: center;
            margin-left: -50px;
            margin-top: -100px;
            z-index: 1002;
            overflow: auto;
            background-color: #ffffff;
            padding: 20px;

            border-radius: 12px;
            background-clip: padding-box;
            -webkit-box-shadow: 0px 0px 4px 0px #ffffff;
            box-shadow: 0px 0px 4px 0px #ffffff;
        }

        .cover {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000000;
            opacity: 0.8;
            z-index: 1001;
            display: none;

        }
    </style>
    <div class="loading-model">

        <img src="{% static "images/gears.gif" %}" alt="preloader"/>
        </br>
        <p>Clustering your Data. Please wait...</p>
    </div>
    <div class="container-clustering">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h2> Clustering Data</h2>
                </div>
                <div class="col-md-2">
                    <a href="/preprocessor/" class="btn btn-warning btn-raised">Skip Clustering</a>
                </div>
            </div>
            <div class="row">
                <div id="warning" class="alert alert-warning" role="alert"></div>
                <h3>Please select attributes to cluster</h3>

                <form method="POST" action="" onsubmit="return validateForm()">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Column ID</th>
                            <th>Column Type</th>
                            <th>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="select-all" id="select-all" checked/>
                                    </label>Select
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for col in columns %}
                            <tr>
                                <td>{{ col.0 }}</td>
                                <td>{{ col.1 }}</td>
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="column" value="{{ forloop.counter }}" checked>
                                        </label></div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Select clustering algorithm: </h4>

                            <div class="form-group">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="clustering-algo-radios"
                                               id="hierarchical-radio"
                                               value="hierarchical-cluster"
                                               checked="">
                                        Hierarchical Clustering
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="clustering-algo-radios"
                                               id="kmeans-radio"
                                               value="kmeans-cluster">
                                        K-Modes Clustering
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="clustering-algo-radios"
                                               id="fuzzy-radio"
                                               value="fuzzy-cluster">
                                        Fuzzy Clustering
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-7">
                                    <h4> Specify the number of clusters:</h4>
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" class="form-control" name="number-of-clusters"
                                           id="numberofclusters" value="5">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-4">
                            <button id="submit-button" type="submit" class="btn btn-primary">
                                Cluster
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script>
        $('#select-all').click(function (event) {
            var is_checked = this.checked;
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = is_checked;
            });
        });

        function validateForm() {
            $('#warning').html('');
            if ($('input[type=checkbox]:checked').length == 0) {
                $('#warning').append('Please select at least on column');
                $('#warning').show();
                return false;
            }
            var num_of_clusters = $('#numberofclusters').val();
            if (!isInt(num_of_clusters)) {
                $('#warning').append('Number of clusters should be a positive integer');
                $('#warning').show();
                return false;
            }
            $(".cover, .loading-model").show();
            return true;
        }

        function isInt(value) {
            return !isNaN(value) && (function (x) {
                return ((x | 0) === x) && x > 0;
            })(parseFloat(value))
        }

    </script>
{% endblock %}