<!doctype html>
{% load staticfiles %}
<title>Parallel Coordinates</title>

<!-- SlickGrid -->
<link rel="stylesheet" href="{% static "slickgrid/slick.grid.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "slickgrid/jquery-ui-1.8.16.custom.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "slickgrid/examples.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "slickgrid/slick.pager.css" %}" type="text/css"/>

<script src="{% static "slickgrid/jquery-1.7.min.js" %}"></script>
<script src="{% static "slickgrid/jquery.event.drag-2.0.min.js" %}"></script>
<script src="{% static "slickgrid/slick.core.js" %}"></script>
<script src="{% static "slickgrid/slick.grid.js" %}"></script>
<script src="{% static "slickgrid/slick.pager.js" %}"></script>
<script src="{% static "slickgrid/slick.dataview.js" %}"></script>
<!-- End SlickGrid -->
<link rel="stylesheet" type="text/css" href="{% static "parallelcordinates/d3.parcoords.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "parallelcordinates/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">

<script src="{% static "js/d3.js" %}"></script>
<script src="{% static "parallelcordinates/d3.parcoords.js" %}"></script>
<script src="{% static "parallelcordinates/divgrid.js" %}"></script>

<style>
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}
#grid, #pager {
    border-right: none;
    position: absolute;
    width: 70%;
}
#grid {
  margin-left: 5;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #808080;
  bottom: 0;
  height: 220px;
}

#pager {
  bottom: 226px;
  height: 20px;
}
.slick-row:hover {
  font-weight: bold;
  color: #069;
}

.control.glyphicon {
  position: static;
}

</style>
<div id="parc" class="row">
    <div id="example" class="parcoords" style="height: 528px"></div>
</div>
<div class="row" id="controls">
        <div id="grid"></div>
        <div id="pager"></div>
    </div>
    <div id="rule-table" class="col-md-3 pull-right">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Column</th>
              <th>Rule</th>
            </tr>
          </thead>
          <tbody id="rule-table-body">

          </tbody>
        </table>
    </div>
</div>

<div style="position: absolute;top: 20px;" id="dropdown1" class="dropdown dropdown-tip">
    <ul style="position: absolute" class="dropdown-menu">
        <li><a href="#1">Item 1</a></li>
        <li><a href="#2">Item 2</a></li>
        <li><a href="#3">Item 3</a></li>
        <li class="dropdown-divider"></li>
        <li><a href="#4">Item 4</a></li>
        <li><a href="#5">Item 5</a></li>
        <li><a href="#5">Item 6</a></li>
    </ul>
</div>

<script id="brushing">

var parcoords = d3.parcoords()("#example")
    .alpha(0.4)
    .mode("queue") // progressive rendering
    .height(d3.max([document.body.clientHeight-250, 220]))
    .margin({
      top: 45,
      left: 0,
      right: 0,
      bottom: 16
    });

// load csv file and create the chart
d3.csv('/media/nutrients.csv', function(data) {
  // slickgrid needs each data element to have an id
  data.forEach(function(d,i) { d.id = d.id || i; });

  parcoords
    .data(data)
    .render()
    .reorderable()
    .brushMode("1D-axes");



  // setting up grid
  var column_keys = d3.keys(data[0]);
  var columns = column_keys.map(function(key,i) {
    return {
      id: key,
      name: key,
      field: key,
      sortable: true
    }
  });

  var options = {
    enableCellNavigation: true,
    enableColumnReorder: false,
    multiColumnSort: false
  };

  var dataView = new Slick.Data.DataView();
  var grid = new Slick.Grid("#grid", dataView, columns, options);
  var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));

  // wire up model events to drive the grid
  dataView.onRowCountChanged.subscribe(function (e, args) {
    grid.updateRowCount();
    grid.render();
  });

  dataView.onRowsChanged.subscribe(function (e, args) {
    grid.invalidateRows(args.rows);
    grid.render();
  });

  // column sorting
  var sortcol = column_keys[0];
  var sortdir = 1;

  function comparer(a, b) {
    var x = a[sortcol], y = b[sortcol];
    return (x == y ? 0 : (x > y ? 1 : -1));
  }

  // click header to sort grid column
  grid.onSort.subscribe(function (e, args) {
    sortdir = args.sortAsc ? 1 : -1;
    sortcol = args.sortCol.field;

    if ($.browser.msie && $.browser.version <= 8) {
      dataView.fastSort(sortcol, args.sortAsc);
    } else {
      dataView.sort(comparer, args.sortAsc);
    }
  });

  // highlight row in chart
  grid.onMouseEnter.subscribe(function(e,args) {
    var i = grid.getCellFromEvent(e).row;
    var d = parcoords.brushed() || data;
    parcoords.highlight([d[i]]);
  });
  grid.onMouseLeave.subscribe(function(e,args) {
    parcoords.unhighlight();
  });

  // fill grid with data
  gridUpdate(data);

  // update grid on brush
  parcoords.on("brush", function(d) {
{#    console.log(parcoords.state);#}

{#    console.log(parcoords.state.rules);#}
    printRules(parcoords.state.rules)
    gridUpdate(d);

  });

  function gridUpdate(data) {
    dataView.beginUpdate();
    dataView.setItems(data);
    dataView.endUpdate();
  };

  function printRules(rules) {
        tbody = document.getElementById("rule-table").getElementsByTagName("tbody");
        $("#rule-table-body").empty();
        for (rule in rules) {
            $("#rule-table-body").append('<tr><td>'+ rule +'</td><td>'+ rules[rule][0]+', '+ rules[rule][1] +'</td></tr>');
        }
        console.log(tbody)
  };

});
</script>