{% extends 'vivarana/base.html' %}

{% block title %}Home{% endblock %}

{% block body_block %}

    <style>
        .container-clustering {
            width: 980px;
            min-width: 980px;
            margin: 0 auto;
            padding: 0 50px;
        }

        table {
            width: 916px !important; /* 140px * 5 column + 16px scrollbar width */
            border-spacing: 0;
        }

        tbody, thead tr {
            display: block;
        }

        tbody {
            height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody td, thead th {
            width: 300px;
        }

        thead th:last-child {
            width: 316px; /* 140px + 16px scrollbar width */
        }

        #warning {
            position: fixed;
            top: 8%;
            width: 60%;
            left: 20%;
            text-align: center;
            display: none;
            background-color: #DB0A0A;
        }

    </style>
    <div class="container-clustering">
        <div id="warning" class="alert alert-warning" role="alert">Please select at least on column</div>
        <div class="row">
            <h3>Select Columns to Visualize</h3>
            <h4>Data Set -> {{ filename }}</h4>
        </div>


        <form method="POST" action="" onsubmit="return validateForm()">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Column ID</th>
                    <th>Column Type</th>
                    <th>
                        <div class="checkbox">
                            Select <label>
                            <input type="checkbox" name="select-all" id="select-all" checked/>
                        </label></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for col in columns %}
                    <tr>
                        <td>{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="column" value="{{ forloop.counter }}" checked></label>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button id="submit-button" type="submit" class="btn btn-primary">
                        Go to visualization
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $('#select-all').click(function (event) {
            var is_checked = this.checked;
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = is_checked;
            });
        });

        function validateForm() {
            if ($('input[type=checkbox]:checked').length != 0) {
                return true;
            }
            else {
                $('#warning').show();
                return false;
            }
        }

    </script>

{% endblock %}