<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/ripples.min.css" %}" rel="stylesheet">
    <link href="{% static "css/material-wfont.css" %}" rel="stylesheet">
    <link href="{% static "css/snackbar.min.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-1.7.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/ripples.js" %}"></script>
    <script src="{% static "js/material.js" %}"></script>
    <script src="{% static "js/jquery.nouislider.min.js" %}"></script>
    <script src="{% static "js/snackbar.min.js" %}"></script>


    <title>{% block title %}Preprocess Data{% endblock %}</title>

    <script>
        $(document).ready(function () {
            $.material.init();

            $("#page-size-slider").noUiSlider({
                start: 1,
                connect: "lower",
                step: 1,
                range: {
                    'min': [0],
                    'max': [{{ size }}]
                }
            });


            $("#page-size-slider").on({

                slide: function () {
                    $('#range').html($('#page-size-slider').val());

                },
                set: function () {
                    $('#range').html($('#page-size-slider').val());

                },
                change: function () {
                    $('#range').html($('#page-size-slider').val());

                }
            });

            $("#sampling-slider").noUiSlider({
                start: 1,
                connect: "lower",
                step: 1,
                range: {
                    'min': [0],
                    'max': [{{ size }}]
                }
            });


            $("#sampling-slider").on({

                slide: function () {
                    $('#sample-size-view').html($('#sampling-slider').val());
                    $('#sample-size-text').html($('#sampling-slider').val());
                },
                set: function () {
                    $('#sample-size-view').html($('#sampling-slider').val());
                    $('#sample-size-text').html($('#sampling-slider').val());
                },
                change: function () {
                    $('#sample-size-view').html($('#sampling-slider').val());
                    $('#sample-size-text').html($('#sampling-slider').val());
                    sample_size_changed($('#sampling-slider').val())
                }
            });


        });
    </script>

    <style>
        #sampling-slider, #page-size-slider {
            margin-left: 10px;
            margin-right: 10px;
        }

        #warning {
            position: fixed;
            top: 8%;
            width: 60%;
            left: 20%;
            text-align: center;
            display: none;
            background-color: #DB0A0A;
        }

    </style>
</head>

<body>
<div class="navbar yamm navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Vivarana</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#parallel-coordinates" data-toggle="tab">Parallel Coordinates</a></li>
            <li><a href="#sunburst" data-toggle="tab">Sunburst</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        </ul>


    </div>
</div>


<div id="myTabContent" class="tab-content">
<div id="warning" class="alert alert-warning" role="alert">Please select at least on column</div>
<div class="tab-pane fade active in" id="parallel-coordinates">

    <div class="row container-clustering">
        <form method="POST" action="" onsubmit="return validateForm()">
            <div class="col-md-6" style="margin-left: 20px">


                {#        <div id="warning" class="alert alert-warning" role="alert">Please select at least on column</div>#}
                <h3 style="margin-top: 0;">Data Columns and types :</h3>


                {% csrf_token %}
                <table id="detail-table" class="table table-hover table-bordered">
                    <col width="65%">
                    <col width="20%">
                    <col width="15%">
                    <thead>
                    <tr>
                        <th>Column ID</th>
                        <th>Column Type</th>
                        <th>
                            <div style="margin: 0" class="checkbox">
                                <label>
                                    <input type="checkbox" name="select-all" id="select-all" checked/>
                                </label> Select
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {# todo: fix the damned animation #}
                    {% autoescape off %}
                        {% for col in columns %}

                            <tr style="width: 500px;"
                                onclick="event.stopPropagation(); $(this).next('tr').slideToggle(); $(this).closest('tr').next().find('p').slideToggle();">
                                <td><i class="mdi-navigation-arrow-drop-down"></i> {{ col.0 }}</td>
                                <td>{{ col.1 }}</td>
                                <td>
                                    <div style="margin: 0" class="checkbox" onclick="event.stopPropagation();">
                                        <label>
                                            <input type="checkbox" name="column" value="{{ forloop.counter }}"
                                                   checked>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="info" style="width: 500px; display: none">
                                <td colspan="3">
                                    <p style="display: none">
                                        {% for item in col.2 %}
                                            {{ item }} </br>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endautoescape %}
                    </tbody>
                </table>


            </div>
            <div class="col-md-5">
                <div class="row">
                    <button id="submit-button" type="submit" class="btn btn-primary pull-right">
                        Go to visualization
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Dataset : {{ filename }}</p>

                            <p>This dataset contains {{ size }} lines</p>

                            <p style="display: none" id="sample-description">Data size after <span
                                    id="sample-type-text"></span> sampling : <span id="sample-size-text">1</span>
                            </p>
                        </div>
                    </div>
                </div>


                <input type="text" name="visualization" value="" id="vis_type" style="display: none">


                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Navigation</div>
                        <div style="padding-bottom: 0px;" class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="nav-type" class="col-lg-3">Navigation Type:</label>

                                    <div class="col-lg-9">
                                        <select class="form-control" onchange="show_additional_form(this.value)"
                                                name="nav-type"
                                                id="nav-type">
                                            <option value="auto">Auto</option>
                                            <option value="line">By line number</option>
                                        </select>
                                    </div>
                                </div>

                                <div style="display: none" id="line-nav-options">
                                    <div class="form-group">
                                        <label for="page-size" class="col-lg-3">Page Size:</label>
                                        <span id="range" class="col-lg-5">1</span>
                                    </div>
                                    <div id="page-size-slider" class="slider slider-material-green"></div>
                                    <input type="text" name="page-size" value="1" id="page-size" style="display: none">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Sampling</div>
                        <div style="padding-bottom: 0px;" class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="nav-type" class="col-lg-2">Sampling:</label>

                                    <div class="col-lg-10">
                                        <select class="form-control" onchange="show_sample_form(this.value)"
                                                name="sampling-type" id="sampling-type">
                                            <option value="none">None</option>
                                            <option value="random">Random</option>
                                        </select>
                                    </div>
                                </div>

                                <div style="display: none" id="sample-size-container">
                                    <div class="form-group">
                                        <label for="sample-size" class="col-lg-3">Sample Size : </label>
                                        <span id="sample-size-view" class="col-lg-5">1</span>
                                    </div>
                                    <div id="sampling-slider" class="slider slider-material-green"></div>
                                    <input type="text" name="sample-size" value="1" id="sample-size"
                                           style="display: none">

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


<div class="tab-pane" id="sunburst">
    <div class="row">
        <form method="POST" action="" onsubmit="return validateSunburstForm()">
            {% csrf_token %}
            <div class="row">
                <input type="text" name="visualization" value="" id="vis_type" style="display: none">

                <div class="col-md-6" style="margin-left: 20px">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="nav-type" class="col-lg-7">Select grouping column name:</label>

                            <div class="col-lg-5">
                                <select class="form-control" onchange="change_grouped_select(this.value)"
                                        name="grouping_col_name" id="grouping_col_name">
                                    {% for col in columns %}
                                        <option value="{{ col.0 }}">{{ col.0 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nav-type" class="col-lg-7">Select grouped column name:</label>

                            <div class="col-lg-5">
                                <select class="form-control" onchange=""
                                        name="grouped_col_name" id="grouped_col_name">
                                    {% for col in columns %}
                                        <option value="{{ col.0 }}">{{ col.0 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-5">
                    <button id="submit-button" type="submit" class="btn btn-primary pull-right">
                        Go to visualization
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<script>
    var data_size = {{ size }};
    var attribute_lst = [];

    {% for col in columns %}
        attribute_lst.push('{{ col.0 }}');
    {% endfor %}

    if ($('#nav-type').val() === 'line') {
        $('#line-nav-options').show();
    }
    if ($('#sampling-type').val() === 'random') {
        $('#sample-size-container').show();
    }

    $('#select-all').click(function (event) {
        var is_checked = this.checked;
        // Iterate each checkbox
        $(':checkbox').each(function () {
            this.checked = is_checked;
        });

    });

    function change_grouped_select(attribute_name) {
        console.log(attribute_name);
        var $el = $("#grouped_col_name");
        $el.empty();
        $.each(attribute_lst, function (value) {
            if (attribute_lst[value] !== attribute_name) {
                $el.append($("<option></option>")
                        .attr("value", attribute_lst[value]).text(attribute_lst[value]));
            }
        });
    }

    function validateSunburstForm() {
        var active_tab = $('.navbar-nav .active').text();
        $('input#vis_type').val(active_tab);

        var grouping_col = $("#grouping_col_name option:selected").text();
        var grouped_col = $("#grouped_col_name option:selected").text();
        if (grouped_col === grouping_col) {
            $('#warning').html('Both grouping and grouped attributes cannot be the same');
            $('#warning').show();
            return false;
        }
        return true;
    }

    function validateForm() {
        var active_tab = $('.navbar-nav .active').text();
        $('input#vis_type').val(active_tab);
        $('input#page-size').val(parseInt($('#page-size-slider').val()));
        $('input#sample-size').val(parseInt($('#sampling-slider').val()));

        if ($('input[type=checkbox]:checked').length != 0) {
            return true;
        }
        else {
            $('#warning').html('Please select at least on column');
            $('#warning').show();
            return false;
        }
    }

    function show_additional_form(value) {
        if (value == 'auto') {
            $('#line-nav-options').slideUp();
        }
        else if (value == 'line') {
            $('#line-nav-options').slideDown();
        }
    }

    function show_sample_form(value) {
        if (value == 'none') {
            $('#sample-size-container').slideUp();
            $('#sample-description').hide();
            $('#page-size-slider').attr('max', data_size);
        }
        else if (value == 'random') {
            $('#sample-size-container').slideDown();
            $('#sample-type-text').html('random');
            $('#sample-description').show()
        }
    }

    function sample_size_changed(value) {
        var possible_page_value = Math.min(value, $('#page-size-slider').val());
        $('#page-size-slider').val(possible_page_value);
        $('#page-size-slider').attr('max', value);
        $('#range').html(possible_page_value)
    }

</script>
</body>
</html>