{% extends 'vivarana/sunburst-base.html' %}
{% load staticfiles %}
{% block title %}SunBurst{% endblock %}


{% block body_block %}
    <div id="exampleModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Filter Events</h4>

                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="filter-input" placeholder="Add events to filter"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div id="sequence" class="span12"></div>
        </div>
        <div class="row-fluid">
            <div id="main" class="span6">
                <div id="chart">
                    <div id="explanation" style="visibility: hidden;">
                        <span id="percentage"></span><br/>
                        of all sequences of {{ grouped }} this sequence amounts to
                    </div>
                </div>
                <div id="chart2">
                </div>
            </div>
            <div id="rulegenerator" class="span6">
                <div id="rulepanel" class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" id="close">x</button>
                        <h3 class="panel-title span6">
                            Generate Rule
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="element-input">
                            <div class="row">

                                <input type="text" class="form-control" id="rule-input"
                                       placeholder="type elements or regex expression"/>

                            </div>
                            <div class="row">
                                <button id="ruleconfirm" type="button" class="btn btn-primary">Primary</button>
                            </div>
                            <div class="row">
                                <div id="results">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div id="subchart">
        <div id="subexplanation" style="visibility: hidden;">
            <span id="subpercentage"></span><br/>
            of visits begin with this sequence of pages
        </div>
    </div-->
    {% comment %}
    <div id="sidebar">
        <input type="checkbox" id="togglelegend"> Legend<br/>

        <div id="legend" style="visibility: hidden;"></div>
    </div>
{% endcomment %}
    <script src="{% static "sunburst/base_custom.js" %}"></script>
    <script src="{% static "sunburst/sequences.js" %}"></script>
    <script src="{% static "sunburst/subchart.js" %}"></script>

    <script type="text/javascript">
        var percentageSliderValue = 0.005;
        seq_height = $("#sequence").css("height");
        $("#chart").css("top", seq_height);
        showSunburst();


    </script>
{% endblock %}