{% extends 'vivarana/base.html' %}
{% load staticfiles %}
{% block title %}Upload Data{% endblock %}

{% block body_block %}
    <style>
        .fileinput-button{
            width : 440px;
        }

        .fileinput-button input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .bar {
            width: 0%;
            height: 18px;
            background: green;
        }

        #form-container{
            position:absolute;
            top:30%;
            left:35%;
        }

        .alert{
           position:absolute;
           top:54%;
           left:35%;
           width : 440px;
            text-align: center;
        }

    </style>
    <div id="form-container" >
        <h1 id="topic">Select File</h1>
        <div>Following File Types are supported : .csv, .log( Apache log Files) </div>
        <label class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select file</span>
            <input class="upload" id="fileupload" type="file" name="fileinput" multiple>
            {% csrf_token %}
        </label>
        <div id="progress">
            <div class="bar"></div>
        </div>
    </div>

    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script src="{% static "js/jquery.ui.widget.js" %}"></script>
    <script src="{% static "js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>

    <script>
        function getCookie(name) {
        var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(function () {
            $('#fileupload').fileupload({
                url: "",
                dataType: 'json',
                done: function (e, data) {

                    $( "#alert").remove()
{#                    $( "#form-container" ).css( "transform", "translate(0,-150px)" )#}
{#                                          .css( "transition", "all 1s ease-in-out" );#}

                    if(data.result.success==true) {
                        $( "#form-container").after('<div id="alert" class="alert alert-success" role="alert">'+ data.result['file_name'] +' Succefully uploaded.</div>')
                        setTimeout(function(){
                            window.location.replace("/vivarana/preprocessor");
                        }, 1000);
                    }
                    else{
                        $( "#form-container").after('<div id="alert" class="alert alert-warning" role="alert">'+data.result['error']+'</div>')
                    }

                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        4.4*progress
                    );
                }
            });
        });
    </script>

{% endblock %}