{% extends 'vivarana/visualize-base.html' %}
{% block title %}Visualization of Data{% endblock %}
{% block body_block %}

    <!-- Divs for the drop down menus -->
    {% autoescape off %}
        {% for col,type in columns.items %}
            <div id="column_dropdown_{{ col }}" class="dropdown-tip">
                <ul id="column_dropdown-menu_{{ col }}" class="dropdown dropdown-menu">
                    {% if type == "string" %}
                        {#            todo            <li><a onclick="temp('{{ col }}',{{ forloop.counter }},this)" href="#">Order By</a></li>#}
                    {% else %}
                        <li><a onclick="sum('{{ col }}',{{ forloop.counter }},this)" href="#">Sum</a></li>
                        <li><a onclick="average('{{ col }}',{{ forloop.counter }}, this)" href="#">Average</a></li>
                        <li><a onclick="max('{{ col }}',{{ forloop.counter }}, this)" href="#">Maximum</a></li>
                        <li><a onclick="min('{{ col }}',{{ forloop.counter }}, this)" href="#">Minimum</a></li>
                        <li><a onclick="count('{{ col }}',{{ forloop.counter }}, this)" href="#">Count</a></li>
                    {% endif %}
                    <li><a onclick="removeAxis('{{ col }}',{{ forloop.counter }})" href="#">Remove Axis</a></li>
                    <li><a onclick="flipAxis('{{ col }}',{{ forloop.counter }})" href="#">Flip Axis</a></li>
                    <li><a onclick="resetAxis('{{ col }}',{{ forloop.counter }}, this)" href="#">Reset Axis</a></li>
                </ul>
            </div>
        {% endfor %}
    {% endautoescape %}

    <!-- Container for the dialog that appear on clicking the rule generation button -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select columns for rule generation</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="column_select_for_rulegen" onsubmit="return false;">
                        {% csrf_token %}
                        {% for col,type in columns.items %}
                            {% if col != "clusterID" %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="column_for_rulegen" value="{{ col }}"
                                               checked> {{ col }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onclick="generate_rules();" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Container for the main visualization -->
    <div id="parcoords-main" class="parcoords"></div>

    {% if pagination_config.number_pages != 1 %}
    <div style="float: none; margin: 0 auto; font-size: 1.8em;" id="navigation-container" class="col-lg-2">
        <a href="http://127.0.0.1:8000/visualize/?page={{ page_number|add:-1 }}" {% if page_number == 1  %}class="disabled-link" {% endif %}><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        <span style="font-size: 1em;">{{ page_number }} / {{ pagination_config.number_pages }}</span>
        <a href="http://127.0.0.1:8000/visualize/?page={{ page_number|add:1 }}" {% if page_number == pagination_config.number_pages  %}class="disabled-link" {% endif %}><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
    </div>
    {% endif %}

    <!-- Container for the slickgrid table-->
    <div id="slickgrid-container">
        <div id="rule-right">
            {#            <div id="rule-right-table-head"></div>#}
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                                                          aria-controls="home" aria-expanded="false">Brushes</a></li>
                <li role="presentation" class=""><a href="#cep_rule_panel" role="tab" id="cep_rule_panel-tab"
                                                    data-toggle="tab" aria-controls="cep_rule_panel"
                                                    aria-expanded="true">CEP Rule</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div id="rule-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Column</th>
                                <th>Conditions</th>
                            </tr>
                            </thead>
                            <tbody id="rule-table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="cep_rule_panel" aria-labelledby="cep_rule_panel-tab">
                    <p id="rule-paragraph">No rules have been created yet. Please select the events you are interested
                        in and press "Generate Rule" button on the toolbar</p>
                </div>
            </div>
        </div>
        <div id="slickgrid-container-inner-left">
            <div id="grid"></div>
            <div id="pager"></div>
        </div>
    </div>

    <script id="brushing">

    var new_grid_data;
    var datastack = [];         // stores data history (for undo operation)
    var data = [];

    function drawData(new_data) {
        data = new_data;
        new_grid_data = new_data;
        parcoords.brushMode("1D-axes");
        parcoords.brushMode("2D-strums");
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("1D-axes");
        } else {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("2D-strums");
        }
    }

    function keep_data() {
        if (parcoords.brushed()) {

            var new_data = parcoords.brushed();
            datastack.push(parcoords.data());
            drawData(new_data);

            $("#btn-undo").css('display', 'block');
            $("#btn-clear").css('display', 'block');

        } else {
            $.snackbar({content: 'Please brush some data before clicking keep data button', style: 'toast'});
        }
    }

    function exclude_data() {
        var new_data = _.difference(parcoords.data(), parcoords.brushed());
        datastack.push(parcoords.data());
        drawData(new_data);
        $("#btn-undo").css('display', 'block');
        $("#btn-clear").css('display', 'block');
    }

    function undo() {
        var new_data = datastack.pop();
        drawData(new_data);
        if (datastack.length < 1) {
            $("#btn-undo").css('display', 'none');
            $("#btn-clear").css('display', 'none');
        }
    }

    function reset() {
        var new_data = datastack[0];
        datastack = [];
        drawData(new_data);
        $("#btn-undo").css('display', 'none');
        $("#btn-clear").css('display', 'none');
    }


    d3.select("#btn-keep-data").on("click", keep_data);
    d3.select("#btn-exclude-data").on("click", exclude_data);
    d3.select("#btn-undo").on("click", undo);
    d3.select("#btn-clear").on("click", reset);

    //Cluster Coloring method
    function enable_cluster_coloring() {
        var colorgen = d3.scale.category20();
        var colors = {};
        _(data).chain()
                .pluck('clusterID') // todo change this to cluster axis name
                .uniq()
                .each(function (d, i) {
                    colors[d] = colorgen(i);
                });


        var color = function (d) {
            return colors[d.clusterID]; // todo change this to cluster axis name
        };
        parcoords.color(color).render();
    }

    // Z-Score coloring methods*********************************

    // color scale for zscores
    var zcolorscale = d3.scale.linear()
            .domain([-2, -0.5, 0.5, 2])
            .range(["brown", "#999", "#999", "steelblue"])
            .interpolate(d3.interpolateLab);

    // return color function based on plot and dimension
    function zcolor(col, dimension) {
        var z = zscore(_(col).pluck(dimension).map(parseFloat));
        return function (d) {
            return zcolorscale(z(d[dimension]))
        }
    }

    // color by zscore
    function zscore(col) {
        var n = col.length,
                mean = _(col).mean(),
                sigma = _(col).stdDeviation();
        return function (d) {
            return (d - mean) / sigma;
        }
    }

    // update color
    function change_color(dimension) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == dimension;
                });

        parcoords.color(zcolor(parcoords.data(), dimension)).render();
    }

    // coloring radio option set
    $("input[type=radio][name=coloringRadios]").change(function () {
        if ($('[id="clusterColoring-radio"]').is(':checked')) {
            enable_cluster_coloring();
            parcoords.svg.selectAll(".dimension")
                    .on("click", enable_cluster_coloring())
                    .selectAll(".label");
        } else {
            parcoords.svg.selectAll(".dimension")
                    .on("click", change_color)
                    .selectAll(".label");
        }
    });

    // brushing radio option set
    $("input[type=radio][name=brushingRadios]").change(function () {
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("1D-axes");
        }
        if ($('[id="twoBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("2D-strums");
        }
    });

    // Alpha blending slider
    $("#aplha-slider").on({
        change: function () {
            var alpha_opacity_value = $("#aplha-slider").val();
            var new_alpha_opacity_value = Math.round(alpha_opacity_value * 100) / 100;
            parcoords.alpha(new_alpha_opacity_value).render();
            $("#alpha-opacity-text").text('Alpha Opacity: ' + alpha_opacity_value);
        }
    });

    // alpha blending checkbox
    $("#alpha-checkbox").change(function () {
        if (this.checked) {
            $('#alpha-slider-container').show();
        } else {
            $("#aplha-slider").val(0.3);
            parcoords.alpha(0.3).render();
            $("#alpha-opacity-text").text('Alpha Opacity: 0.2');
            $('#alpha-slider-container').hide();
        }
    });

    // curve smoothness slider
    $("#curve-slider").on({
        change: function () {
            var curve_smooth_value = parseFloat($("#curve-slider").val());
            parcoords.smoothness(curve_smooth_value).render();
            $("#curve-text").text('Curve Smoothness: ' + curve_smooth_value);
        }
    });

    // bundling strength slider
    $("#bundling-slider").on({
        change: function () {
            var bundling_value = parseFloat($("#bundling-slider").val());
            parcoords.bundlingStrength(bundling_value).render();
            $("#bundling-text").text('Bundling Strength: ' + bundling_value);
        }
    });

    // bundling checkbox
    $("#bundling-checkbox").change(function () {
        if (this.checked) {
            $('#curve-slider-container').show();
            $('#bundling-slider-container').show();
            parcoords
                    .bundleDimension("clusterID")  //todo change this accordingly
                    .smoothness(0.2)
                    .bundlingStrength(0.7)
                    .render();
        } else {
            $('#curve-slider-container').hide();
            $('#bundling-slider-container').hide();
            parcoords.smoothness(0)
                    .bundlingStrength(0)
                    .render();
            $("#curve-text").text('Curve Smoothness: 0.2');
            $("#bundling-text").text('Bundling Strength: 0.7');
            $("#curve-slider").val(0.2);
            $("#bundling-slider").val(0.7);

        }
    });

    {% autoescape off %}

        var data_types = {{ columns }};
        //Adding the type for id column so that it comes last
        data_types['id'] = 'number';

        var parcoords = d3.parcoords()("#parcoords-main")
                .alpha(0.3)
                .mode("queue") // progressive rendering
                .height(550)
                .types(data_types)
                .color('#2980b9')
                .margin({
                    top: 42,
                    left: 0,
                    right: 0,
                    bottom: 16
                });
        {#        todo replace json with csv file#}
        var j_data = JSON.parse('{{ result }}');
    {% endautoescape %}


    for (var i = 0; i <{{ frame_size }}; i++) {
        data[i] = j_data[i]
    }

    data.forEach(function (d, i) {
        d.id = d.id || i;
    });

    new_grid_data = data;
    parcoords
            .data(data)
            .bundlingStrength(0)
            .smoothness(0)
            .render()
            .reorderable()
            .brushMode("1D-axes");

    // setting up grid
    var column_keys = d3.keys(data[0]);
    var columns = column_keys.map(function (key, i) {
        return {
            id: key,
            name: key,
            field: key,
            sortable: true
        }
    });

    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        multiColumnSort: false,
		forceFitColumns: true
    };

    var dataView = new Slick.Data.DataView();
    var grid = new Slick.Grid("#grid", dataView, columns, options);
    var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));

    // wire up model events to drive the grid
    dataView.onRowCountChanged.subscribe(function (e, args) {
        grid.updateRowCount();
        grid.render();
    });

    dataView.onRowsChanged.subscribe(function (e, args) {
        grid.invalidateRows(args.rows);
        grid.render();
    });

    // column sorting
    var sortcol = column_keys[0];
    var sortdir = 1;

    function comparer(a, b) {
        var x = a[sortcol], y = b[sortcol];
        return (x == y ? 0 : (x > y ? 1 : -1));
    }

    // click header to sort grid column
    grid.onSort.subscribe(function (e, args) {
        sortdir = args.sortAsc ? 1 : -1;
        sortcol = args.sortCol.field;

        if ($.browser.msie && $.browser.version <= 8) {
            dataView.fastSort(sortcol, args.sortAsc);
        } else {
            dataView.sort(comparer, args.sortAsc);
        }
    });

    // highlight row in chart
    grid.onMouseEnter.subscribe(function (e, args) {
        var i = grid.getCellFromEvent(e).row;
        var d = parcoords.brushed() || new_grid_data;
        parcoords.highlight([d[i]]);
    });
    grid.onMouseLeave.subscribe(function (e, args) {
        parcoords.unhighlight();
    });

    // fill grid with data
    gridUpdate(data);
	

    // update grid on brush
    parcoords.on("brush", function (d) {
        gridUpdate(d);
        ruleTableUpdate(d);
    });

    parcoords.on("brushend", function (d) {
        gridUpdate(d);
        ruleTableUpdate(d);
    });


    function ruleTableUpdate(d) {
        $('#rule-table-body').empty()
        var rules = parcoords.state.rules;
        for (rule in rules) {
            $('#rule-table-body').append('<tr><td>' + rule + '</td><td>' + rules[rule][0] + '</td></tr>')

        }
    }

    function aggregate_func(data, selected_id_lst) {
        var j_data = JSON.parse(data);

        for (i = 0; i < selected_id_lst.length; i += 1) {
            console.log(j_data[i]);
            j_data[i]['id'] = selected_id_lst[i];
        }

        drawData(j_data);
        gridUpdate(j_data);
        {#        $(obj).parent().addClass("disabled");#}
    }

    function perform_aggregation(aggregate_function, attribute_name) {

        var selected_ids = "";
        var current_data = parcoords.state.data;

        for (var i in current_data) {
            selected_ids = selected_ids + String(current_data[i]['id']) + ',';
        }
        var selected_id_lst = [];
        for (var i in current_data) {
            selected_id_lst.push(current_data[i]['id'])
        }
        console.log(selected_ids);
        $.get('/aggregator/', {selected_ids: selected_ids, aggregate_func: aggregate_function, attribute_name: attribute_name}, function (data) {
            aggregate_func(data, selected_id_lst);
        });


    }

    function sum(col_name, col_number, obj) {
        perform_aggregation(0, col_name);
    }

    function average(col_name, col_number, obj) {
        perform_aggregation(1, col_name);
    }

    function min(col_name, col_number, obj) {
        perform_aggregation(2, col_name);
    }

    function max(col_name, col_number, obj) {
        perform_aggregation(3, col_name);
    }

    function count(col_name, col_number, obj) {
        perform_aggregation(4, col_name);
    }


    function removeAxis(col_name, col_number) {
        //todo send AJAX call to backend
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        parcoords.hideAxis([col_name]).updateAxes().render();
    }

    function flipAxis(col_name, col_number) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        parcoords.flip(col_name).updateAxes().brushReset().render(); //TODO update when brushing fixed with flipping
    }

    function resetAxis(col_name, col_number, obj) {
        var selected_ids = "";
        var current_data = parcoords.state.data;

        console.log(current_data)

        for (var i in current_data) {
            selected_ids = selected_ids + String(current_data[i]['id']) + ',';
        }
        var selected_id_lst = [];
        for (var i in current_data) {
            selected_id_lst.push(current_data[i]['id'])
        }
        $.get('/reset_axis/', {attribute_name: col_name, selected_ids: selected_ids}, function (data) {
            aggregate_func(data, selected_id_lst);
        });
    }

    function gridUpdate(data) {
        dataView.beginUpdate();
        dataView.setItems(data);
        dataView.endUpdate();
    }

    function generate_rules() {
        $('#myModal').modal('toggle');
        var selected_ids = []
        var brushed_data = parcoords.state.brushed

        var checked_columns = $("input:checkbox[name=column_for_rulegen]:checked").map(function () {
            return $(this).val();
        }).get();

        for (var i in brushed_data) {
            selected_ids.push(brushed_data[i]['id'])
        }

        $.ajax({
            url: '/rule_gen/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"selected_ids": selected_ids, "checked_columns": checked_columns}),
            dataType: 'json',
            success: function (result) {
                $("#cep_rule_panel-tab").tab('show')
                for (var rule in result.rules) {
                    $("#cep_rule_panel").empty();
                    $("#cep_rule_panel").append('<p style="color: blue">' + 'FORM EVENT_STREAM_NAME</br>SELECT *</br>Having' + '</p>')
                    $("#cep_rule_panel").append('<p style="color: black">' + result.rules[rule]['rule'] + '</p>')
                }
            }
        });
    }


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    </script>

{% endblock %}