{% extends 'vivarana/visualize-base.html' %}
{% block body_block %}

    <div id="parcoords-main" class="parcoords"></div>

    <div id="column_dropdown" class="dropdown-tip">
        <ul id="column_dropdown-menu" class="dropdown dropdown-menu">
        </ul>
    </div>

    <div id="slickgrid-container">
        <div id="rule-right">
            <div id="rule-right-table-head"></div>
            <div id="rule-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Column</th>
                        <th>Conditions</th>
                    </tr>
                    </thead>
                    <tbody id="rule-table-body">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="slickgrid-container-inner-left">
            <div id="grid"></div>
            <div id="pager"></div>
        </div>
    </div>

    <script id="brushing">

    var new_grid_data;
    var datastack = [];         // stores data history (for undo operation)
    var data = [];

    function drawData(new_data) {
        data = new_data;
        new_grid_data = new_data;
        parcoords.brushMode("1D-axes");
        parcoords.brushMode("2D-strums");
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("1D-axes");
        } else {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("2D-strums");
        }
    }

    function keep_data() {
        if (parcoords.brushed()) {

            var new_data = parcoords.brushed();
            datastack.push(parcoords.data());
            drawData(new_data);

            $("#btn-undo").css('display', 'block');
            $("#btn-clear").css('display', 'block');

        } else {
            $.snackbar({content: 'Please brush some data before clicking keep data button', style: 'toast'});
        }
    }

    function exclude_data() {
        var new_data = _.difference(parcoords.data(), parcoords.brushed());
        datastack.push(parcoords.data());
        drawData(new_data);
        $("#btn-undo").css('display', 'block');
        $("#btn-clear").css('display', 'block');
    }

    function undo() {
        var new_data = datastack.pop();
        drawData(new_data);
        if (datastack.length < 1) {
            $("#btn-undo").css('display', 'none');
            $("#btn-clear").css('display', 'none');
        }
    }

    function reset() {
        var new_data = datastack[0];
        datastack = [];
        drawData(new_data);
        $("#btn-undo").css('display', 'none');
        $("#btn-clear").css('display', 'none');
    }


    d3.select("#btn-keep-data").on("click", keep_data);
    d3.select("#btn-exclude-data").on("click", exclude_data);
    d3.select("#btn-undo").on("click", undo);
    d3.select("#btn-clear").on("click", reset);

    //Cluster Coloring method
    function enable_cluster_coloring() {
        var colorgen = d3.scale.category20();
        var colors = {};
        _(data).chain()
                .pluck('cylinders') // todo change this to cluster axis name
                .uniq()
                .each(function (d, i) {
                    colors[d] = colorgen(i);
                });


        var color = function (d) {
            return colors[d.cylinders]; // todo change this to cluster axis name
        };
        parcoords.color(color).render();
    }

    // Z-Score coloring methods*********************************

    // color scale for zscores
    var zcolorscale = d3.scale.linear()
            .domain([-2, -0.5, 0.5, 2])
            .range(["brown", "#999", "#999", "steelblue"])
            .interpolate(d3.interpolateLab);

    // return color function based on plot and dimension
    function zcolor(col, dimension) {
        var z = zscore(_(col).pluck(dimension).map(parseFloat));
        return function (d) {
            return zcolorscale(z(d[dimension]))
        }
    }

    // color by zscore
    function zscore(col) {
        var n = col.length,
                mean = _(col).mean(),
                sigma = _(col).stdDeviation();
        return function (d) {
            return (d - mean) / sigma;
        }
    }

    // update color
    function change_color(dimension) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == dimension;
                });

        parcoords.color(zcolor(parcoords.data(), dimension)).render();
    }

    // coloring radio option set
    $("input[type=radio][name=coloringRadios]").change(function () {
        if ($('[id="clusterColoring-radio"]').is(':checked')) {
            enable_cluster_coloring();
            parcoords.svg.selectAll(".dimension")
                    .on("click", enable_cluster_coloring())
                    .selectAll(".label");
        } else {
            parcoords.svg.selectAll(".dimension")
                    .on("click", change_color)
                    .selectAll(".label");
        }
    });

    // brushing radio option set
    $("input[type=radio][name=brushingRadios]").change(function () {
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("1D-axes");
        }
        if ($('[id="twoBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("2D-strums");
        }
    });

    // Alpha blending slider
    $("#aplha-slider").on({
        change: function () {
            var alpha_opacity_value = $("#aplha-slider").val();
            var new_alpha_opacity_value = Math.round(alpha_opacity_value * 100) / 100;
            parcoords.alpha(new_alpha_opacity_value).render();
            $("#alpha-opacity-text").text('Alpha Opacity: ' + alpha_opacity_value);
        }
    });

    // alpha blending checkbox
    $("#alpha-checkbox").change(function () {
        if (this.checked) {
            $('#alpha-slider-container').show();
        } else {
            $("#aplha-slider").val(0.3);
            parcoords.alpha(0.3).render();
            $("#alpha-opacity-text").text('Alpha Opacity: 0.3');
            $('#alpha-slider-container').hide();
        }
    });

    // curve smoothness slider
    $("#curve-slider").on({
        change: function () {
            var curve_smooth_value = $("#curve-slider").val();
            parcoords.smoothness(curve_smooth_value).render();
            $("#curve-text").text('Curve Smoothness: ' + curve_smooth_value);
        }
    });

    // bundling strength slider
    $("#bundling-slider").on({
        change: function () {
            var bundling_value = $("#bundling-slider").val();
            parcoords.bundlingStrength(bundling_value).render();
            $("#bundling-text").text('Bundling Strength: ' + bundling_value);
        }
    });

    // bundling checkbox
    $("#bundling-checkbox").change(function () {
        if (this.checked) {
            $('#curve-slider-container').show();
            $('#bundling-slider-container').show();
            parcoords
                    .bundleDimension("cylinders")  //todo change this accordingly
                    .smoothness(0.2)
                    .bundlingStrength(0.7)
                    .render();
        } else {
            $("#curve-slider").val(0);
            $("#bundling-slider").val(0);
            parcoords.smoothness(0)
                    .bundlingStrength(0)
                    .render();
            $("#curve-text").text('Curve Smoothness: 0');
            $("#bundling-text").text('Bundling Strength: 0');
            $('#curve-slider-container').hide();
            $('#bundling-slider-container').hide();
        }
    });

    {% autoescape off %}

        var data_types = {{ columns }};
        //Adding the type for id column so that it comes last
        data_types['id'] = 'number';

        var parcoords = d3.parcoords()("#parcoords-main")
                .alpha(0.3)
                .mode("queue") // progressive rendering
                .height(550)
                .types(data_types)
                .color('#2980b9')
                .margin({
                    top: 42,
                    left: 0,
                    right: 0,
                    bottom: 16
                });

        var j_data = JSON.parse('{{ result }}');
    {% endautoescape %}


    for (var i = 0; i <{{ frame_size }}; i++) {
        data[i] = j_data[i]
    }

    data.forEach(function (d, i) {
        d.id = d.id || i;
    });

    new_grid_data = data;
    parcoords
            .data(data)
            .bundlingStrength(0)
            .smoothness(0)
            .render()
            .reorderable()
            .brushMode("1D-axes");

    // setting up grid
    var column_keys = d3.keys(data[0]);
    var columns = column_keys.map(function (key, i) {
        return {
            id: key,
            name: key,
            field: key,
            sortable: true
        }
    });

    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        multiColumnSort: false
    };

    var dataView = new Slick.Data.DataView();
    var grid = new Slick.Grid("#grid", dataView, columns, options);
    var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));

    // wire up model events to drive the grid
    dataView.onRowCountChanged.subscribe(function (e, args) {
        grid.updateRowCount();
        grid.render();
    });

    dataView.onRowsChanged.subscribe(function (e, args) {
        grid.invalidateRows(args.rows);
        grid.render();
    });

    // column sorting
    var sortcol = column_keys[0];
    var sortdir = 1;

    function comparer(a, b) {
        var x = a[sortcol], y = b[sortcol];
        return (x == y ? 0 : (x > y ? 1 : -1));
    }

    // click header to sort grid column
    grid.onSort.subscribe(function (e, args) {
        sortdir = args.sortAsc ? 1 : -1;
        sortcol = args.sortCol.field;

        if ($.browser.msie && $.browser.version <= 8) {
            dataView.fastSort(sortcol, args.sortAsc);
        } else {
            dataView.sort(comparer, args.sortAsc);
        }
    });

    // highlight row in chart
    grid.onMouseEnter.subscribe(function (e, args) {
        var i = grid.getCellFromEvent(e).row;
        var d = parcoords.brushed() || new_grid_data;
        parcoords.highlight([d[i]]);
    });
    grid.onMouseLeave.subscribe(function (e, args) {
        parcoords.unhighlight();
    });

    // fill grid with data
    gridUpdate(data);

    // update grid on brush
    parcoords.on("brush", function (d) {
        gridUpdate(d);
        ruleTableUpdate(d);
    });

    function ruleTableUpdate(d) {
        $('#rule-table-body').empty()
        var rules = parcoords.state.rules;
        for (rule in rules) {
            $('#rule-table-body').append('<tr><td>' + rule + '</td><td>' + rules[rule][0] + ' <= ' + 'x' + ' <= ' + rules[rule][1] + '</td></tr>')

        }
    }

    function sum(col_name, col_number) {
        $.get('/vivarana/get_sum/', {attribute_name: col_name}, function (data) {
            var j_data = JSON.parse(data);
            {#            todo how to proparly render#}
            {#            todo there are so many unwanted axis#}
            j_data.forEach(function (d, i) {
                d.id = d.id || i;
            });
            drawData(j_data);
            gridUpdate(j_data);
        });
        {#        alert("SUM " + col_name + " Column No - " + col_number);#}
    }

    function average(col_name, col_number) {
        alert("Avarage " + col_name + " Column No - " + col_number);
    }

    function removeAxis(col_name, col_number) {
        //todo send AJAX call to backend
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        parcoords.hideAxis([col_name]).updateAxes().render();
    }

    function flipAxis(col_name, col_number) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        parcoords.flip(col_name).updateAxes().render();
    }

    function temp(input) {
        alert(input);
    }

    function gridUpdate(data) {
        dataView.beginUpdate();
        dataView.setItems(data);
        dataView.endUpdate();
    }

    </script>

{% endblock %}