{% extends 'vivarana/visualize-base.html' %}
{% load staticfiles %}
{% block title %}Visualization of Data{% endblock %}
{% block body_block %}

    <!-- Divs for the drop down menus -->
    {% autoescape off %}
        {% for col,type in columns.items %}
            <div id="column_dropdown_{{ col }}" class="dropdown-tip">
                <ul id="column_dropdown-menu_{{ col }}" class="dropdown dropdown-menu">
                    {% if type == "string" %}
                        <li><a onclick="groupby('{{ col }}',{{ forloop.counter }},this)" href="#">Group By</a></li>
                    {% else %}
                        <li><a onclick="sum('{{ col }}',{{ forloop.counter }},this)" href="#">Sum</a></li>
                        <li><a onclick="average('{{ col }}',{{ forloop.counter }}, this)" href="#">Average</a></li>
                        <li><a onclick="max('{{ col }}',{{ forloop.counter }}, this)" href="#">Maximum</a></li>
                        <li><a onclick="min('{{ col }}',{{ forloop.counter }}, this)" href="#">Minimum</a></li>
                        <li><a onclick="count('{{ col }}',{{ forloop.counter }}, this)" href="#">Count</a></li>
                        {% if state_map.time_window_enabled %}
                            <li><a onclick="anomaly('{{ col }}',{{ forloop.counter }}, this)" href="#">Detect
                                Anomaly</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a onclick="removeAxis('{{ col }}',{{ forloop.counter }})" href="#">Remove Axis</a></li>
                    <li><a onclick="flipAxis('{{ col }}',{{ forloop.counter }})" href="#">Flip Axis</a></li>
                    <li><a onclick="resetAxis('{{ col }}',{{ forloop.counter }}, this)" href="#">Reset Axis</a></li>
                </ul>
            </div>
        {% endfor %}
    {% endautoescape %}
    <!-- end of Divs for the drop down menus -->

    <div class="loading-model">
        <img src="{% static "images/gears.gif" %}" alt="preloader"/>
        </br>
        <div id="ajax-loader-text">Clustering Data. Please wait...</div>
    </div>

    <!-- Container for the dialog that appear on clicking the rule generation button -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select columns for rule generation</h4>
                </div>
                <div class="modal-body" id="rulegen_model_body">
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="generate_rules();" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Container for the dialog that appear on clicking the cluster button -->
    <div class="modal fade" id="clusterModel" tabindex="-1" role="dialog" aria-labelledby="clusterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="clusterModalLabel">Select attributes to cluster</h4>
                </div>
                <div class="modal-body" id="cluster_model_body">
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="continueClustering();" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Container for the dialog that appear on clicking the system state button -->
    <div class="modal fade" id="state_modal" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="stateModalLabel">Current State of the System</h4>
                </div>
                <div class="modal-body" id="state_modal_body">
                </div>
                <div class="modal-footer">
{#                    <button type="button" onclick="" class="btn btn-primary">Save</button>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Container for the dialog that appear on anomaly detection -->
    <div class="modal fade" id="anomaly_modal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {#                    <h4 class="modal-title" id="stateModalLabel">Current State of the System</h4>#}
                </div>
                <div class="modal-body" id="anomaly_modal_body">
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="" class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Container for the main visualization -->
    <div id="parcoords-main" class="parcoords"></div>

    {% if state_map.number_pages != 1 %}
        <div style="float: none; margin: 0 auto; font-size: 20px;" id="navigation-container" class="col-lg-2">
            <a onclick="paginate_next('backward')" href="#" id="pagination_back_link">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
            <span style="font-size: 20px;"
                  id="pagination_current_page_num"> {{ state_map.active_page_number | add:1 }}/{{ state_map.number_pages }}</span>
            <a onclick="paginate_next('forward')" href="#" id="pagination_next_link">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

        </div>
    {% endif %}

    <!-- Container for the slickgrid table-->
    <div id="slickgrid-container">
        <div id="rule-right">
            {#            <div id="rule-right-table-head"></div>#}
            <ul id="myTab" style="height:29px; background: #2C3E50;width: 475px;" class="nav nav-tabs" role="tablist">
                <li role="presentation" style="border-left: 2px solid #FFF;" class="active nav-head"><a
                        style="padding-top: 4px; height: 29px;" href="#home" id="home-tab"
                        role="tab" data-toggle="tab"
                        aria-controls="home" aria-expanded="false">Brushes</a></li>
                <li role="presentation" class="nav-head"><a style="padding-top: 4px; height: 29px;"
                                                            href="#cep_rule_panel"
                                                            role="tab" id="cep_rule_panel-tab"
                                                            data-toggle="tab" aria-controls="cep_rule_panel"
                                                            aria-expanded="true">CEP Rule</a></li>
                <li class="pull-right"><button id="reset-colors-button" onclick="reset_highlight()" type="button" style="width: 100px; display: none;" class="btn btn-sm btn-primary">reset colors</button></li>
            </ul>
            <div style="border-left: 2px solid #2C3E50; height: 300px" id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div id="rule-table">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Column</th>
                                <th>Conditions</th>
                            </tr>
                            </thead>
                            <tbody id="rule-table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="padding-left: 5px" role="tabpanel" class="tab-pane fade" id="cep_rule_panel"
                     aria-labelledby="cep_rule_panel-tab">

                    <div style="padding-left: 80px; display: none" id="loading-gif" class="rule-loading-model">
                        <img src="{% static "images/ajax-rule-loader.gif" %}" alt="preloader"/>
                        </br>
                        <p style="margin-left: 13px">Generating Rule. Please wait...</p>
                    </div>

                    <p id="rule-paragraph" style="height: 150px; overflow:auto;">No rules have been created yet. Please select the events you are interested
                        in and press "Generate Rule" button on the toolbar</p>

                </div>
            </div>
        </div>
        <div id="slickgrid-container-inner-left">
            <div id="grid"></div>
            <div id="pager"></div>
        </div>
    </div>

    <script id="brushing">

    var new_grid_data;
    var datastack = [];         // stores data history (for undo operation)
    var data = [];
    var aggregates = [];
    var ticks_hidden = false;

    function drawData(new_data) {
        data = new_data;
        new_grid_data = new_data;
        parcoords.brushMode("1D-axes");
        parcoords.brushMode("2D-strums");
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("1D-axes");
        } else {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("2D-strums");
        }
    }

    function drawDataWithNewColumn(new_data) {
        data = new_data;
        new_grid_data = new_data;
        parcoords.brushMode("1D-axes");
        parcoords.brushMode("2D-strums");
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("1D-axes");
        } else {
            parcoords
                    .data(data)
                    .resize()
                    .render()
                    .brushMode("2D-strums");
        }
    }

    function keep_data() {
        if (parcoords.brushed()) {

            var id_lst = [];
            parcoords.data().forEach(function (d, i) {
                id_lst.push(d.id);
            });

            $.ajax({
                url: '/zoom_data/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"selected_ids": id_lst, "user_operation": 'keep' }),
                dataType: 'json',
                success: function (result) {
                }
            });
            var new_data = parcoords.brushed();
            drawData(new_data);
            gridUpdate(new_data);

            $("#btn-undo").css('display', 'block');
            $("#btn-clear").css('display', 'block');
            parcoords.brushed(false);
        } else {
            $.snackbar({content: 'Please brush some data before clicking keep data button', style: 'toast'});
        }
    }

    function exclude_data() {
        if (parcoords.brushed()) {
            var id_lst = [];
            parcoords.data().forEach(function (d, i) {
                id_lst.push(d.id);
            });

            $.ajax({
                url: '/zoom_data/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"selected_ids": id_lst, "user_operation": 'keep' }),
                dataType: 'json',
                success: function (result) {

                }
            });
            var new_data = _.difference(parcoords.data(), parcoords.brushed());
            drawData(new_data);
            gridUpdate(new_data);
            parcoords.brushed(false);
            $("#btn-undo").css('display', 'block');
            $("#btn-clear").css('display', 'block');
        } else {
            $.snackbar({content: 'Please brush some data before clicking keep data button', style: 'toast'});
        }
    }

    function undo() {
        $.ajax({
            url: '/zoom_data/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"user_operation": 'undo' }),
            dataType: 'json',
            success: function (result) {
                var j_data = JSON.parse(result.json_opt);
                var id_lst = result.id_lst;
                j_data.forEach(function (d, i) {
                    d.id = id_lst[i];
                });

                drawData(j_data);
                gridUpdate(j_data);
                parcoords.brushed(false);
                if (result.num_of_states === 0) {
                    $("#btn-undo").css('display', 'none');
                    $("#btn-clear").css('display', 'none');
                }

            }
        });


    }

    function reset() {
        $.ajax({
            url: '/zoom_data/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"user_operation": 'reset' }),
            dataType: 'json',
            success: function (result) {
                var j_data = JSON.parse(result.json_opt);
                var id_lst = result.id_lst;
                j_data.forEach(function (d, i) {
                    d.id = id_lst[i];
                });

                drawData(j_data);
                gridUpdate(j_data);
                parcoords.brushed(false);
                $("#btn-undo").css('display', 'none');
                $("#btn-clear").css('display', 'none');

            }
        });

    }


    d3.select("#btn-keep-data").on("click", keep_data);
    d3.select("#btn-exclude-data").on("click", exclude_data);
    d3.select("#btn-undo").on("click", undo);
    d3.select("#btn-clear").on("click", reset);

    //Cluster Coloring method
    function enable_cluster_coloring() {
        var colorgen = ["RoyalBlue", "Crimson", "Green", "gold", "SaddleBrown", "DarkOrange", "DimGray", "Olive", "Peru", "RosyBrown" ];

        var color = function (d) {
            return colorgen[parseInt(d.clusterID)-1];
        };
        parcoords.color(color).render();
    }

    // custom data coloring method. id_dict should have the ids of the rows which should be
    // colored differently as keys and value should the color for that row in hex e.g: "#ff0000".
    function enable_custom_coloring(id_dict) {
        var colors = {};

        _(data).chain()
                .pluck('id')
                .each(function (d, i) {
                    colors[d] = get_color(i, id_dict)
                });

        var color = function (d) {
            return colors[d.id];
        };
        parcoords.color(color).render();

    }
    function get_color(i, id_dict) {
        if (id_dict[i]) {
            return id_dict[i];
        } else {
            return "#069";
        }
    }

    // Z-Score coloring methods*********************************

    // color scale for zscores
    var zcolorscale = d3.scale.linear()
            .domain([-2, -0.5, 0.5, 2])
            .range(["brown", "#999", "#999", "steelblue"])
            .interpolate(d3.interpolateLab);

    // return color function based on plot and dimension
    function zcolor(col, dimension) {
        var z = zscore(_(col).pluck(dimension).map(parseFloat));
        return function (d) {
            return zcolorscale(z(d[dimension]))
        }
    }

    // color by zscore
    function zscore(col) {
        var n = col.length,
                mean = _(col).mean(),
                sigma = _(col).stdDeviation();
        return function (d) {
            return (d - mean) / sigma;
        }
    }

    // update color
    function change_color(dimension) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == dimension;
                });

        parcoords.color(zcolor(parcoords.data(), dimension)).render();
    }

    // coloring radio option set
    $("input[type=radio][name=coloringRadios]").change(function () {
        if ($('[id="clusterColoring-radio"]').is(':checked')) {
            enable_cluster_coloring();
            parcoords.svg.selectAll(".dimension")
                    .on("click", enable_cluster_coloring())
                    .selectAll(".label");
            $.post("/change_state/", JSON.stringify({property_name: "cluster_coloring_enabled", property_value: true}), function (data) {
            });
            $.post("/change_state/", JSON.stringify({property_name: "zscore_coloring_enabled", property_value: false}), function (data) {
            });
        } else {
            parcoords.svg.selectAll(".dimension")
                    .on("click", change_color)
                    .selectAll(".label");
            $.post("/change_state/", JSON.stringify({property_name: "cluster_coloring_enabled", property_value: false}), function (data) {
            });
            $.post("/change_state/", JSON.stringify({property_name: "zscore_coloring_enabled", property_value: true}), function (data) {
            });
        }
    });

    // brushing radio option set
    $("input[type=radio][name=brushingRadios]").change(function () {
        if ($('[id="oneBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("1D-axes");
            $.post("/change_state/", JSON.stringify({property_name: "brush_mode", property_value: '1D-axes'}), function (data) {
            });
        }
        if ($('[id="twoBrushing-radio"]').is(':checked')) {
            parcoords.brushMode("2D-strums");
            $.post("/change_state/", JSON.stringify({property_name: "brush_mode", property_value: '2D-strums'}), function (data) {
            });
        }
    });

    // Alpha blending slider
    $("#aplha-slider").on({
        change: function () {
            var alpha_opacity_value = $("#aplha-slider").val();
            var new_alpha_opacity_value = Math.round(alpha_opacity_value * 100) / 100;
            parcoords.alpha(new_alpha_opacity_value).render();
            $("#alpha-opacity-text").text('Alpha Opacity: ' + alpha_opacity_value);
            $.post("/change_state/", JSON.stringify({property_name: "alpha_opacity", property_value: alpha_opacity_value}), function (data) {
            });

        }
    });

    // alpha blending checkbox
    $("#alpha-checkbox").change(function () {
        if (this.checked) {
            $('#alpha-slider-container').show();
            $.post("/change_state/", JSON.stringify({property_name: "alpha_blending_enabled", property_value: true}), function (data) {
            });
        } else {
            $("#aplha-slider").val(0.2);
            parcoords.alpha(0.2).render();
            $("#alpha-opacity-text").text('Alpha Opacity: 0.2');
            $('#alpha-slider-container').hide();
            $.post("/change_state/", JSON.stringify({property_name: "alpha_opacity", property_value: 0.2}), function (data) {
            });
            $.post("/change_state/", JSON.stringify({property_name: "alpha_blending_enabled", property_value: false}), function (data) {
            });

        }
    });

    // curve smoothness slider
    $("#curve-slider").on({
        change: function () {
            var curve_smooth_value = parseFloat($("#curve-slider").val());
            parcoords.smoothness(curve_smooth_value).render();
            $("#curve-text").text('Curve Smoothness: ' + curve_smooth_value);
            $.post("/change_state/", JSON.stringify({property_name: "curve_smoothness", property_value: curve_smooth_value}), function (data) {
            });
        }
    });

    // bundling strength slider
    $("#bundling-slider").on({
        change: function () {
            var bundling_value = parseFloat($("#bundling-slider").val());
            parcoords.bundlingStrength(bundling_value).render();
            $("#bundling-text").text('Bundling Strength: ' + bundling_value);
            $.post("/change_state/", JSON.stringify({property_name: "bundling_strength", property_value: bundling_value}), function (data) {
            });
        }
    });

    // bundling checkbox
    $("#bundling-checkbox").change(function () {
        if (this.checked) {
            $('#curve-slider-container').show();
            $('#bundling-slider-container').show();
            parcoords
                    .bundleDimension("clusterID")
                    .smoothness({{ state_map.curve_smoothness }})
                    .bundlingStrength({{ state_map.bundling_strength }})
                    .render();
            $.post("/change_state/", JSON.stringify({property_name: "bundling_enabled", property_value: true}), function (data) {
            });
        } else {
            $('#curve-slider-container').hide();
            $('#bundling-slider-container').hide();
            parcoords.smoothness(0)
                    .bundlingStrength(0)
                    .render();
            $("#curve-text").text('Curve Smoothness: 0.2');
            $("#bundling-text").text('Bundling Strength: 0.7');
            $("#curve-slider").val(0.2);
            $("#bundling-slider").val(0.7);
            $.post("/change_state/", JSON.stringify({property_name: "curve_smoothness", property_value: 0.2}), function (data) {
            });
            $.post("/change_state/", JSON.stringify({property_name: "bundling_strength", property_value: 0.7}), function (data) {
            });
            $.post("/change_state/", JSON.stringify({property_name: "bundling_enabled", property_value: false}), function (data) {
            });

        }
    });

    {% autoescape off %}

        var data_types = {{ columns }};
        //Adding the type for id column so that it comes last
        data_types['id'] = 'number';

        aggregates = {{ aggregates }}

        var parcoords = d3.parcoords()("#parcoords-main")
                .alpha({{ state_map.alpha_opacity }})
                .mode("queue") // progressive rendering
                .height(550)
                .aggregates(aggregates)
                .types(data_types)
                .color('#2980b9')
                .margin({
                    top: 42,
                    left: 0,
                    right: 0,
                    bottom: 16
                });
        {#        todo replace json with csv file#}
        var j_data = JSON.parse('{{ result }}');
    {% endautoescape %}


    j_data.forEach(function (d, i) {
        data[i] = d;
    });

    var start_id = parseInt({{ start_id }});
    data.forEach(function (d, i) {
        d.id = d.id || i + start_id;
    });

    new_grid_data = data;
    parcoords
            .data(data)
            .bundlingStrength(0)
            .smoothness(0)
            .aggregates(aggregates)
            .render()
            .reorderable()
            .brushMode('{{ state_map.brush_mode }}');

    {% if state_map.cluster_coloring_enabled %}
        enable_cluster_coloring();
        parcoords.svg.selectAll(".dimension")
                .on("click", enable_cluster_coloring())
                .selectAll(".label");
    {% elif state_map.zscore_coloring_enabled %}
        parcoords.svg.selectAll(".dimension")
                .on("click", change_color)
                .selectAll(".label");
    {% endif %}

    {% if state_map.bundling_enabled %}
        parcoords
                .bundleDimension("clusterID")
                .smoothness({{ state_map.curve_smoothness }})
                .bundlingStrength({{ state_map.bundling_strength }})
                .render();
    {% endif %}

    original_data = data;
    // setting up grid
    var column_keys = d3.keys(data[0]);
    var columns = column_keys.map(function (key, i) {
        return {
            id: key,
            name: key,
            field: key,
            sortable: true
        }
    });

    var options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        multiColumnSort: false,
        forceFitColumns: true
    };

    var dataView = new Slick.Data.DataView();
    var grid = new Slick.Grid("#grid", dataView, columns, options);
    var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));

    // wire up model events to drive the grid
    dataView.onRowCountChanged.subscribe(function (e, args) {
        grid.updateRowCount();
        grid.render();
    });

    dataView.onRowsChanged.subscribe(function (e, args) {
        grid.invalidateRows(args.rows);
        grid.render();
    });

    // column sorting
    var sortcol = column_keys[0];
    var sortdir = 1;

    function comparer(a, b) {
        var x = a[sortcol], y = b[sortcol];
        return (x == y ? 0 : (x > y ? 1 : -1));
    }

    // click header to sort grid column
    grid.onSort.subscribe(function (e, args) {
        sortdir = args.sortAsc ? 1 : -1;
        sortcol = args.sortCol.field;

        if ($.browser.msie && $.browser.version <= 8) {
            dataView.fastSort(sortcol, args.sortAsc);
        } else {
            dataView.sort(comparer, args.sortAsc);
        }
    });

    // highlight row in chart
    grid.onMouseEnter.subscribe(function (e, args) {
        var i = grid.getCellFromEvent(e).row;
        var d = parcoords.brushed() || new_grid_data;
        parcoords.highlight([d[i]]);
    });
    grid.onMouseLeave.subscribe(function (e, args) {
        parcoords.unhighlight();
    });

    // fill grid with data
    gridUpdate(data);


    // update grid on brush
    parcoords.on("brush", function (d) {
        gridUpdate(d);
        ruleTableUpdate(d);
    });

    parcoords.on("brushend", function (d) {
        gridUpdate(d);
        ruleTableUpdate(d);
    });


    function ruleTableUpdate(d) {
        $('#rule-table-body').empty()
        var rules = parcoords.state.rules;
        for (rule in rules) {
            $('#rule-table-body').append('<tr><td>' + rule + '</td><td>' + rules[rule][0] + '</td></tr>')

        }
    }

    function paginate_next(direction) {

        $.ajax({
            url: '/visualize_next/',
            type: 'GET',
            contentType: 'application/json',
            data: {'direction': direction},
            dataType: 'json',
            success: function (result) {
                var j_data = JSON.parse(result.json_result);
                console.log(result.start_id);

                var start_id = parseInt(result.start_id);
                j_data.forEach(function (d, i) {
                    d.id = d.id || i + start_id;
                });

                var page_num = parseInt(result.state_map.active_page_number) + 1 + '/' + {{ state_map.number_pages}};
                $('#pagination_current_page_num').html(page_num);
                if (result.is_last_page) {
                    $("#pagination_next_link").addClass("disabled-link");

                } else {
                    $("#pagination_next_link").removeClass("disabled-link");
                }
                if (page_num == 1) {
                    $("#pagination_back_link").addClass("disabled-link");

                } else {
                    $("#pagination_back_link").removeClass("disabled-link");
                }

                drawData(j_data);
                gridUpdate(j_data);
                $("#btn-undo").css('display', 'none');
                $("#btn-clear").css('display', 'none');
            }
        });

    }


    function anomaly(col_name, col_number, obj) {

        $("#ajax-loader-text").html("Detecting anomalities. Please wait...");
        $(".cover, .loading-model").show();

        var selected_ids = "";
        var current_data = parcoords.state.data;

        for (var i in current_data) {
            selected_ids = selected_ids + String(current_data[i]['id']) + ',';
        }
        var selected_id_lst = [];
        for (var i in current_data) {
            selected_id_lst.push(current_data[i]['id'])
        }


        $.ajax({
            url: '/anomaly/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({selected_ids: selected_ids, anomaly_detect_column: col_name}),
            dataType: 'json',
            success: function (result) {
                if (data == 'error-200') {
                    $(".cover, .loading-model").hide();
                    $.snackbar({content: 'Please specify Configuration values for Anomaly Detection.', style: 'toast'});
                    return false;
                }

                var j_data = JSON.parse(result.result_data);
                var anom_lst = result.anom_lst;

                j_data.forEach(function (d, i) {
                    d.id = anom_lst[i];
                });


                $(".cover, .loading-model").hide();
                parcoords.color('#ff0000');
                drawData(j_data);
                gridUpdate(j_data);
                parcoords.brushed(false);

            }
        });

    }

    function aggregate_func(data, selected_id_lst, attribute_name, aggregate_function) {
        var j_data = JSON.parse(data);

        for (var i = 0; i < selected_id_lst.length; i += 1) {
            j_data[i]['id'] = selected_id_lst[i];
        }

        $(".cover, .loading-model").hide();
        //todo change this
        var aggregate_function_list = {0: 'sum', 1: 'average', 2: 'min', 3: 'max', 4: 'count'};

        aggregates[attribute_name] = aggregate_function_list[aggregate_function];

        parcoords.aggregates(aggregates);

        drawData(j_data);
        gridUpdate(j_data);
        {#        $(obj).parent().addClass("disabled");#}
    }

    function perform_aggregation(aggregate_function, attribute_name) {

        $("#ajax-loader-text").html("Performing Aggreagtion on Data. Please wait...");
        $(".cover, .loading-model").show();

        var selected_ids = "";
        var current_data = parcoords.state.data;

        for (var i in current_data) {
            selected_ids = selected_ids + String(current_data[i]['id']) + ',';
        }
        var selected_id_lst = [];
        for (var i in current_data) {
            selected_id_lst.push(current_data[i]['id'])
        }
        $.get('/aggregator/', {selected_ids: selected_ids, aggregate_func: aggregate_function, attribute_name: attribute_name}, function (data) {

            if (data == 'error-100') {
                $(".cover, .loading-model").hide();
                $.snackbar({content: 'Please specify a time or event window value.', style: 'toast'});
                return false;
            }

            aggregate_func(data, selected_id_lst, attribute_name, aggregate_function);
        });


    }

    function groupby(col_name, col_number) {
        $.post("/change_state/", JSON.stringify({property_name: "aggregate_group_by_attr", property_value: col_name}), function (data) {
        });
        aggregates[col_name] = 'group_by';
        parcoords.aggregates(aggregates);
        drawData(data);
        $.snackbar({content: 'Group by attribute has been set to ' + col_name, style: 'toast'});
    }

    function sum(col_name, col_number, obj) {
        perform_aggregation(0, col_name);
    }

    function average(col_name, col_number, obj) {
        perform_aggregation(1, col_name);
    }

    function min(col_name, col_number, obj) {
        perform_aggregation(2, col_name);
    }

    function max(col_name, col_number, obj) {
        perform_aggregation(3, col_name);
    }

    function count(col_name, col_number, obj) {
        perform_aggregation(4, col_name);
    }


    function removeAxis(col_name, col_number) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        delete data_types[col_name];

        parcoords.types(data_types);

        parcoords.hideAxis([col_name]).updateAxes().render();
        $.post("/remove_axis/", JSON.stringify({attribute_name: col_name}), function (data) {
        });

    }

    function flipAxis(col_name, col_number) {
        parcoords.svg.selectAll(".dimension")
                .filter(function (d) {
                    return d == col_name;
                });

        parcoords.flip(col_name).updateAxes().brushReset().render(); //TODO update when brushing fixed with flipping
    }

    function resetAxis(col_name, col_number, obj) {
        var selected_ids = "";
        var current_data = parcoords.state.data;

        for (var i in current_data) {
            selected_ids = selected_ids + String(current_data[i]['id']) + ',';
        }
        var selected_id_lst = [];
        for (var i in current_data) {
            selected_id_lst.push(current_data[i]['id'])
        }
        $.get('/reset_axis/', {attribute_name: col_name, selected_ids: selected_ids}, function (data) {
            aggregate_func(data, selected_id_lst);
        });

        aggregates[col_name] = '';
        parcoords.aggregates(aggregates);
    }

    function gridUpdate(data) {
        dataView.beginUpdate();
        dataView.setItems(data);
        dataView.endUpdate();
    }


    function continueClustering() {

        $('#clusterModel').modal('toggle');
        var checked_columns = $("input:checkbox[name=column_for_cluster]:checked").map(function () {
            return $(this).val();
        }).get();

        var selected_ids = [];
        var cluster_algo = $("input:radio[name=clustering-algo-radios]:checked").val();
        var num_of_clusters = parseInt($('#num-of-clusters').val());

        var brushed_data = parcoords.state.brushed;
        if (!brushed_data) {
            brushed_data = parcoords.state.data;
        }
        for (var i in brushed_data) {
            selected_ids.push(brushed_data[i]['id'])
        }

        $("#ajax-loader-text").html("Clustering Data. Please wait...");
        $(".cover, .loading-model").show();
        $.ajax({
            url: '/clustering/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"selected_ids": selected_ids, "clustering-algo-radios": cluster_algo, "number-of-clusters": num_of_clusters, "column": checked_columns}),
            dataType: 'json',
            success: function (result) {
                var lst = [];
                for (var k in result) {
                    lst.push(result[k]);
                }
                for (var i in brushed_data) {
                    brushed_data[i]['clusterID'] = lst[i];
                }

                data_types['clusterID'] = 'string'

                parcoords.data(data)
                         .types(data_types)
                         .drawWithNewColumn();

                drawData(brushed_data);
                gridUpdate(brushed_data);
                $(".cover, .loading-model").hide();
                //todo add parcords redraw function
            }
        });
    }


    function generate_rules() {
        var selected_ids = [];
        var brushed_data = parcoords.state.brushed;

        var checked_columns = $("input:checkbox[name=column_for_rulegen]:checked").map(function () {
            return $(this).val();
        }).get();

        for (var i in brushed_data) {
            selected_ids.push(brushed_data[i]['id'])
        }

        console.log(selected_ids)

        if (selected_ids.length == 0) {
            $.snackbar({content: 'Please specify the set of events you want to consider for rule generation.', style: 'toast'});
            return
        }

        $('#myModal').modal('toggle');
        $("#cep_rule_panel-tab").tab('show');
        $("#rule-paragraph").empty();
        $("#rule-info-panel").remove();
        $('#loading-gif').show();

        $.ajax({
            url: '/rule_gen/',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"selected_ids": selected_ids, "checked_columns": checked_columns}),
            dataType: 'json',
            success: function (result) {
                $('#loading-gif').hide();

                if (result['success'] == true) {

                    $("#rule-paragraph").append('<p style="color: #2C3E50;margin-bottom: 0px;">' + 'FROM EVENT_STREAM_NAME' + result['window_string'] + '</br>SELECT ' + result['select_string'] + '</br>Having</p>')
                    $("#rule-paragraph").append('<p style="color: #2C3E50;margin-bottom: 0px;">' + result.rules.join('</br>OR</br>') + '</p>')
                    var count_line = 'You selected ' + result['count_selected'] + ' events. This rule covers ' + result['count_covered'] + ' events.'
                    var recall_line = 'Rule recall - ' + parseFloat(result['recall']).toFixed(7);
                    var precision_line = 'Rule precision - ' + parseFloat(result['precision']).toFixed(7);
                    $("#cep_rule_panel").append('<div style="text-align:center" id="rule-info-panel" class="panel panel-info"><div id="rule-panel" class="panel-body">' + precision_line + '</br>' + recall_line + '</br>' + count_line + '</br></div> </div>')

                    var false_positive_indexes = result['filtered']
                    if(false_positive_indexes.length>0) {
                        console.log(false_positive_indexes);

                        var false_positives = [];

                        for (var index in false_positive_indexes) {
                            false_positives.push(data[false_positive_indexes[index]])
                        }
                        var current_color = parcoords.state.color;
                        parcoords.color('#FF0000');
                        parcoords.highlight(false_positives);
                        parcoords.color(current_color);
                        $('#reset-colors-button').show()
                    }

                }
                else {
                    $('#loading-gif').hide();
                    $("#rule-paragraph").append('<p style="color: #2C3E50;margin-bottom: 0px; padding-left:15px;">Unable to generate rules. Please try again.</p>')
                    return true;
                }
            }
        });
    }

    function hideTicks(){
        if(ticks_hidden==false){
            parcoords.hideTicks();
            ticks_hidden = true;
        }
        else{
            ticks_hidden = false;
            parcoords.updateAxes();
        }
    }

    function reset_highlight(){
        parcoords.unhighlight();
        $('#reset-colors-button').hide();
    }


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    </script>

{% endblock %}